* {
	font-size: 25px;
	color: #333;
}

/* Make titlebar pretty gigantic. I'm pretty myopic. */
.titlebar  {
  padding: 3px;
  font-size: 30px;
}


.titlebar * {
  padding: 3px;
  font-size: 30px;
}

header * {
  font-size: 30px;
  padding: 3px;
}

tabs {
	padding: 3px;
}

tab {
	margin: 3px 5px 3px 0px; /* top right bottom left */
	padding: 10px;
	border-style: solid;
  font-size: 30px;
}

entry {
	padding-left: 10px;
}

entry:focus {
	padding-left: 10px;

}
