* {
	font-size: 35px;
	color: #333;
}

/* Make titlebar pretty gigantic. I'm pretty myopic. */
.titlebar  {
  padding: 5px;
  font-size: 45px;
}


.titlebar * {
  padding: 5px;
  font-size: 45px;
}

header * {
  font-size: 40px;
  padding: 5px;
}

tabs {
	padding: 7px;
}

tab {
	margin: 5px 8px 5px 0px; /* top right bottom left */
	padding: 10px;
	border-style: solid;
  font-size: 40px;
}

entry {
	padding-left: 10px;
}

entry:focus {
	padding-left: 10px;

}
