* {
	font-size: 25px;
	/*@Base; */
	/* border-bottom-color: @Base; */
}

/* Make titlebar pretty gigantic. I'm pretty myopic. */
.titlebar  {
  padding: 10px;
  font-size: 30px;
}


.titlebar * {
  padding: 10px;
  font-size: 27px;
}

header * {
  font-size: 20px;
  padding: 5px;
}

tabs {
	padding: 3px;
}

tab {
	margin: 2px 5px 2px 0px;
	padding: 5px;
	border-style: solid;
  font-size: 27px;
}

entry {
	padding-left: 10px;
}

entry:focus {
	padding-left: 10px;

}
